#!/bin/bash
# set -o errexit
export CMAKE_PREFIX_PATH="/usr/opt/eosio.cdt/{{ outer_item }}/lib/cmake/eosio.cdt/:/root/eos/CMakeModules/"
export CMAKE_MODULE_PATH="/usr/opt/eosio.cdt/{{ outer_item }}/lib/cmake/eosio.cdt/:/root/eos/CMakeModules/"