#!/bin/bash
# set -o errexit
export EOSIO_SYSTEM_CONTRACTS_PUB_KEY="{{ EOSIO_SYSTEM_CONTRACTS_PUB_KEY }}"
export WALLET_KEY_PATH="/eos_wallet_key/key.txt"
export CONTRACTS_PATH="{{ SYS_CONTRACTS_DIR }}/{{ outer_item }}/{{ item }}/build/contracts"
cleos wallet unlock --password  $(cat ${WALLET_KEY_PATH})
sleep 3
cleos set contract eosio.token ${CONTRACTS_PATH}/eosio.token
sleep 5
cleos set contract eosio.msig ${CONTRACTS_PATH}/eosio.msig
sleep 10
cleos set contract eosio ${CONTRACTS_PATH}/eosio.system
sleep 15
cleos set contract eosio ${CONTRACTS_PATH}/eosio.bios
sleep 15
cleos set contract eosio ${CONTRACTS_PATH}/eosio.wrap
sleep 15
cleos push action eosio setpriv '["eosio.msig", 1]' -p eosio@active
  